.add{
   align-items: center;
   margin:5%;

}
h1 {
    font-size: 24px;
    color: #333; /* or any color you prefer */
  }
  
  div {
    margin-top: 10px; /* adjust as needed */
    font-size: 18px;
  }
  
  label {
    display: block; /* ensures label and textarea are on separate lines */
    margin-top: 20px; /* adjust as needed */
    padding-left:10%;
  }
  #w3review{
    align-items: center;
    padding-left:5%;
    padding-right:5%;
    /* padding-top:10%;
    padding-bottom:10%; */
    margin:5%;
  }
  textarea {
    align-self: center;
    width: 80%;
    padding-left:20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* or any border style you prefer */
    border-radius: 5px;
    resize: vertical; /* allows vertical resizing */
  }
  