.box{
    margin:5%;
    padding:1%;
    border: solid black;
}
div{
    text-align: center;
    color:black;
    font-size: medium;
    background-color: azure;
    margin-top:10%;
    margin-bottom:10%;
    margin-left:10%;
    margin-right:10%;
    
}
.button5 {
    margin-left:30%;
  }
  
.button5 button1 {
    margin-right: 10px ;
    margin-left:30px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.button5 button1:hover {
    background-color: #0056b3;
  }